* {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
}

*::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #3d15b0;
}

*::-webkit-scrollbar {
      width: 6px;
      background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
      background-color: #3d15b0;
}

/* background-color: rgb(0, 118, 222); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
      background-color: rgba(255, 255, 255, 0.884);
      font-family: 'Montserrat', sans-serif;
      overflow-x: hidden;
      font-size: 10px;
}

.container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      overflow: hidden;
      overflow-x: hidden;
}

/* NAV BAR */
header {
      width: 100vw;
      z-index: 1000;
}

nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.99rem;
      padding: 1.8rem 1.3rem 1.8rem 1rem;
}

nav .nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
}

nav .nav-links li {
      margin-left: 1.5rem;
      text-transform: uppercase;
}

nav .nav-links li a {
      text-decoration: none;
      font-weight: 600;
      transition: 0.3s;
      padding: 0.3rem 0.3rem;
      color: rgba(0, 0, 0, 0.891);
}

nav .nav-links li a:hover {
      background-color: #3d15b0;
      transition: 0.4s;
      color: #FFF;
      border-radius: 6px;
}

nav .nav-links li .login-btn {
      background-color: #3d15b0;
      color: #fff;
}

nav .nav-links li .signup-btn {
      background-color: #3d15b0;
      color: #fff;
}

nav .hamburger {
      display: none;
}

nav .hamburger .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: rgba(0, 0, 0, 0.781);
}

@media only screen and (max-width: 768px) {
      nav .space {
            display: none;
      }

      nav .nav-links {
            position: fixed;
            top: -100%;
            border-radius: 0 0 1rem 1rem;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.75);
            width: 100%;
            left: 0;
            transition: 0.3s ease-in-out;
            z-index: 1000;
      }

      nav .nav-links.active {
            top: 5rem;
            transition: 0.3s ease-in-out;
            color: #fff;
      }

      nav ul li {
            margin: 1.2rem 0;
            transition: 0.3 ease-in-out;
            color: #fff;
      }

      nav .nav-links li a {
            color: #fff;
      }

      nav .hamburger {
            display: block;
            cursor: pointer;
      }

      .hamburger.active .bar:nth-child(2) {
            opacity: 0%;
      }

      .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
      }

      .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
      }
}



/* BOOK CARD */

.book__card {
      align-self: flex-start;
      display: grid;
      padding: 2rem;
      border-radius: 12px;
      background-color: rgba(0, 0, 0, 0.09);
      grid-template-columns: repeat(2, 1fr);
      width: 80vw;
      justify-content: center;
      align-items: center;
      margin-top: 3rem;
      font-size: 1rem;
      justify-items: end;
}

.book__card p {
      margin-top: 7px;
}

.book__card a {
      align-self: center;
      padding: 0.75rem;
      background-color: #3d15b0;
      color: #fff;
      text-decoration: none;
      border-radius: 6px;
}

.book__card a:hover {
      transition: 0.2s;
      opacity: 0.9;
}

.ssss {
      margin-bottom: 2rem;
}

.book__card .card__img {
      width: 18rem;
      display: flex;
      justify-content: center;
}

.book__card .card__img img {
      width: 100%;
      object-fit: cover;

}

@media only screen and (max-width: 1315px) {
      .book__card .detailes {
            margin-left: 30px;
      }
}

@media only screen and (max-width: 767px) {
      .book__card .detailes {
            margin-left: 30px;
            font-size: .9rem;
      }

      .book__card .card__img {
            width: 15rem;
      }
}

@media only screen and (max-width: 624px) {

      .book__card {
            align-self: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
      }

      .book__card .detailes {
            height: fit-content;
            font-size: .8rem;
      }

      .book__card .detailes h1 {
            padding-bottom: 0.4rem;
            font-size: large;
      }

      .book__card .card__img {
            width: 17rem;
            margin-bottom: 1rem;
            justify-content: center;
            align-items: center;
            align-self: center;
      }

      .book__card .card__img img {
            align-self: center;
      }
}

.payment__methods {
      width: 15rem;
      border-radius: .5rem;
}

.payment__methods .payment__method__img {
      width: 100%;
      border-radius: .5rem;
      margin-top: 0.6rem;
      object-fit: cover;
}

footer .social__links {
      display: flex;
      margin-top: 1rem;
      flex: 1;
}

footer .social__links ul {
      display: flex;
      flex: 1;
      list-style: none;
      gap: 0.5rem;
}

footer .social__links ul a {
      color: #fff;
}

/* BOOK CARD END */