* {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
}

*::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #3d15b0;
}

*::-webkit-scrollbar {
      width: 6px;
      background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
      background-color: #3d15b0;
}

/* background-color: rgb(0, 118, 222); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
      background-color: rgba(255, 255, 255, 0.884);
      font-family: 'Montserrat', sans-serif;
      background-image: url('../images/201.png');
      overflow-x: hidden;
      font-size: 10px;
}

.container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      overflow: hidden;
      overflow-x: hidden;
}

/* NAV BAR */
header {
      width: 100vw;
      z-index: 1000;
}

nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.99rem;
      padding: 1.8rem 1.3rem 1.8rem 1rem;
}

nav .nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
}

nav .nav-links li {
      margin-left: 1.5rem;
      text-transform: uppercase;
}

nav .nav-links li a {
      text-decoration: none;
      font-weight: 600;
      transition: 0.3s;
      padding: 0.3rem 0.3rem;
      color: rgba(0, 0, 0, 0.891);
}

nav .nav-links li a:hover {
      background-color: #3d15b0;
      transition: 0.4s;
      color: #FFF;
      border-radius: 6px;
}

nav .nav-links li .login-btn {
      background-color: #3d15b0;
      color: #fff;
}

nav .nav-links li .signup-btn {
      background-color: #3d15b0;
      color: #fff;
}

nav .hamburger {
      display: none;
}

nav .hamburger .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: rgba(0, 0, 0, 0.781);
}

@media only screen and (max-width: 768px) {
      nav .space {
            display: none;
      }

      nav .nav-links {
            position: fixed;
            top: -100%;
            border-radius: 0 0 1rem 1rem;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.75);
            width: 100%;
            left: 0;
            transition: 0.3s ease-in-out;
            z-index: 1000;
      }

      nav .nav-links.active {
            top: 5rem;
            transition: 0.3s ease-in-out;
            color: #fff;
      }

      nav ul li {
            margin: 1.2rem 0;
            transition: 0.3 ease-in-out;
            color: #fff;
      }

      nav .nav-links li a {
            color: #fff;
      }

      nav .hamburger {
            display: block;
            cursor: pointer;
      }

      .hamburger.active .bar:nth-child(2) {
            opacity: 0%;
      }

      .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
      }

      .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
      }
}

/* NAV BAR END */

/* SEARCH BAR */

.search-bar-con {
      width: 60%;
      border-radius: 6px;
      display: flex;
      position: relative;
      min-width: 300px;
      justify-content: space-between;
      align-items: center;
      padding: 0 12px;
      background-color: rgb(233, 233, 233);
      border: 2px #3d15b0 solid;
}

.search-bar-con:before {
      content: " ";
      position: absolute;
      z-index: -1;
      top: -5px;
      left: -4px;
      right: -4px;
      bottom: -4px;
      border-radius: 6px;
      border: 5px #3c15b046 solid;
}

.search-bar-con .search-bar:focus {
      outline: none;
}

.line-break {
      width: 70%;
      margin-top: 1rem;
      height: 2px;
      border-radius: 20px;
      background-color: #333;
}


.search-bar-con .search-bar {
      width: 100%;
      background-color: rgb(233, 233, 233);
      border: none;
      background-color: transparent;
      max-width: 650px;
      font-size: 1.3rem;
      height: 3rem;
}

.search-bar-con i {
      color: #fff;
      cursor: pointer;
      border-radius: 12px;
      background-color: #3d15b0;
      padding: 6px;
      border: solid #3d15b0;
}

/* SEARCH BAR END */

/* FILTERS */

.filter-con {
      display: flex;
      width: 60%;
      justify-content: space-between;
      align-items: center;
      position: relative;
      margin-top: 3rem;
      gap: 1rem;
      height: 30px;
      text-transform: uppercase;
      font-size: 1.1rem;
}

.filter-con::before {
      content: "";
      width: 100%;
      height: 3px;
      background-color: #3d15b0;
      position: absolute;
      top: 28px;
}

.filter-con a {
      text-decoration: none;
      color: black;
      padding: 4px;
      border-radius: 8px 8px 0 0;
      font-weight: 700;
}

.filter-con a:active {
      background-color: #3d15b0;
}

.filter-con a:hover {
      transition: background-color 0.2s;
      background-color: #3d15b0;
      color: #FFF;
}

@media only screen and (max-width: 735px) {
      .filter-con {
            font-size: 0.8rem;
      }
}

@media only screen and (max-width: 534px) {
      .filter-con {
            width: 80%;
            font-size: 0.8rem;
      }

      .filter-con .results {
            display: none;
      }
}

/* FILTERS END */

/* HEROSEC */

 .hero-sec {
      width: 85%;
      border-radius: 1rem;
      position: relative;
      padding: 1.75rem 2rem;
      color: #fff;
      font-size: 1rem;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 60px;
      align-items: flex-end;
      line-height: 30px;
       background-image: url('../images/womanholdbook.jpg');
      background-repeat: no-repeat;
      background-position: 0rem 110%;
      background-size: cover;
      background-attachment: fixed;
       height: 18rem; /*this attribute response for women picture in the top */
}

.hero-sec p {
      margin: 0 0 18px 0;
}

.hero-sec a:hover {
      mix-blend-mode: hard-light;
      transition: 0.3s ease;
}

.hero-sec a {
      transition: 0.3s ease;
      padding: 0.7rem 0.5rem;
      background-color: #3d15b0;
      border-radius: 8px;
      text-decoration: none;
      color: #fff;
}




/* HEROSEC END */


/* BOOKS VIEW */

.books-con {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.books-con .con-head {
      font-size: 1rem;
      text-align: left;
      display: flex;
      justify-content: flex-start;
      margin: 2rem 64% 2rem 2rem;
}

.books-con .con-head i {
      margin-right: 0.7rem;
      font-size: 1.4rem;
}

.books-con .books-view {
      display: grid;
      gap: 1.3rem;
      grid-template-columns: repeat(2, 3fr 3fr);
}

.books-con .books-view a {
      text-decoration: none;
      color: #3d15b0;
}

.books-con .books-view .book-card {
      width: 18rem;
      padding: 0.5rem;
      box-shadow: 0 1px 12px rgba(0, 0, 0, 0.2);
      border-radius: 0.4rem;
      background-color: rgb(236, 236, 236);
      font-size: 0.8rem;
}

.books-con .books-view .book-card:hover {
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
      transition: 0.2s ease;
}

.books-con .books-view .book-card p {
      color: rgb(84, 83, 83);
      margin-top: 5px;
}

.books-con .books-view .book-card h3 {
      color: black;
}

.books-con .books-view .book-card:hover>img {
      transform: translateY(-3px);
      transition: 0.2s ease;
}

.book-card img {
      border-radius: 0.4rem;
      width: 100%;
      transition: 0.2s ease;
      margin: 0 0 6px 0;
      object-fit: cover;
      aspect-ratio: 1 / 1;
}

@media only screen and (max-width: 1260px) {
      .books-con .books-view {
            display: grid;
            gap: 1.0rem;
            grid-template-columns: repeat(3, 1fr);
      }
}

@media only screen and (max-width: 950px) {
      .books-con .books-view {
            display: grid;
            gap: 1.0rem;
            grid-template-columns: repeat(2, 1fr);
      }
}

@media only screen and (max-width: 635px) {
      .books-con .books-view {
            display: grid;
            gap: 1.0rem;
            grid-template-columns: repeat(2, 1fr);
      }

      .books-con .books-view .book-card {
            width: 15rem;
      }
}

@media only screen and (max-width: 525px) {
      .books-con .books-view {
            display: grid;
            gap: 1.0rem;
            grid-template-columns: repeat(2, 1fr);
      }

      .books-con .books-view .book-card {
            width: 12rem;
      }
}

@media only screen and (max-width: 420px) {
      .books-con .books-view {
            display: grid;
            gap: 1.0rem;
            grid-template-columns: repeat(2, 1fr);
      }

      .books-con .books-view .book-card {
            width: 10rem;
      }
}

@media only screen and (max-width: 365px) {
      .books-con .books-view {
            display: grid;
            gap: 1.0rem;
            grid-template-columns: repeat(1, 1fr);
      }

      .books-con .con-head {
            font-size: 0.8rem;
            width: fit-content;
      }

      .books-con .books-view .book-card {
            width: 18rem;
      }
}



/* BOOKS VIEW END */


/* FOOOTER */

footer {
      display: flex;
      width: 100vw;
      height: 30vh;
      background-color: #1f007d;
      padding: 2rem 10rem;
      color: #fff;
      justify-content: space-between;
      font-size: 1.2rem;
}

footer .con {
      width: 100%;
}

footer .footer-links {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 0.7rem;
      font-size: 1rem;
}

footer .footer-links a {
      color: #F5F5F5;
      padding: 3px;
      text-transform: uppercase;
}

footer .footer-links a:hover {
      background-color: #F5F5F5;
      color: rgb(0, 0, 0);
      padding: 3px;
}

@media only screen and (max-width: 750px) {
      footer {
            height: fit-content;
            flex-direction: column;
            align-items: center;
            justify-content: center;
      }

      footer .footer-links {
            margin: 1rem 0 0 0;
            margin-top: 1rem;
            display: grid;
            grid-template-columns: repeat(3, 2fr);
      }
}

@media only screen and (max-width: 650px) {
      footer .con {
            font-size: 0.9rem;
      }
}

footer .social__links {
      display: flex;
      margin-top: 1rem;
      flex: 1;
}

footer .social__links ul {
      display: flex;
      flex: 1;
      list-style: none;
      gap: 0.5rem;
}

footer .social__links ul a {
      color: #fff;
}

/* FOOOTER END */
