* {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
}

*::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5;
}

*::-webkit-scrollbar {
      width: 6px;
      background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
      background-color: #3d15b0;
}

/* background-color: rgb(0, 118, 222); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
      background-color: rgba(255, 255, 255, 0.884);
      font-family: 'Montserrat', sans-serif;
      overflow-x: hidden;
      font-size: 10px;
}

.container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      overflow-x: hidden;
}

/* NAV BAR */
header {
      width: 100vw;
      z-index: 1000;

}
.header{
    position: fixed;
    padding-left: 720px;

}
@media (min-width:280px) and (max-width: 1400px) {
    .header {
    padding:0px;
}
}
@media (min-width:280px) and (max-width: 1400px) {
    .logo{
        display: none;
    }
    }
nav {

      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.99rem;
      padding: 1.8rem 1.3rem 1.8rem 1rem;
}

nav .nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
}

nav .nav-links li {
      margin-left: 1.5rem;
      text-transform: uppercase;
}

nav .nav-links li a {
      text-decoration: none;
      font-weight: 600;
      transition: 0.3s;
      padding: 0.3rem 0.3rem;
      color: rgba(0, 0, 0, 0.891);
}

nav .nav-links li a:hover {
      background-color: #3d15b0;
      transition: 0.4s;
      color: #fff;
      border-radius: 6px;
}

nav .nav-links li .login-btn {
      background-color: #3d15b0;
      color: #fff;
}

nav .nav-links li .signup-btn {
      background-color: #3d15b0;
      color: #fff;
}

nav .hamburger {
      display: none;
}

nav .hamburger .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: rgba(0, 0, 0, 0.781);
}

@media only screen and (max-width: 768px) {
      nav .space {
            display: none;
      }

      nav .nav-links {
            position: fixed;
            top: -100%;
            border-radius: 0 0 1rem 1rem;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.75);
            width: 100%;
            left: 0;
            transition: 0.3s ease-in-out;
            z-index: 1000;
      }

      nav .nav-links.active {
            top: 5rem;
            transition: 0.3s ease-in-out;
            color: #fff;
      }

      nav ul li {
            margin: 1.2rem 0;
            transition: 0.3 ease-in-out;
            color: #fff;
      }

      nav .nav-links li a {
            color: #fff;
      }

      nav .hamburger {
            display: block;
            cursor: pointer;
      }

      .hamburger.active .bar:nth-child(2) {
            opacity: 0%;
      }

      .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
      }

      .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
      }
}

/* NAV BAR END */

/* HEROSEC */
.hero-sec {
      width: 100vw;
      height: 65vh;
      background-image: url('../images/students-working-and-studying-flatlay.jpg');
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      display: flex;
      justify-content: center;
      flex-direction: column;
      position: relative;
      align-items: center;
      font-size: 1.2rem;
}

.hero-sec h2 {
      font-size: 3rem;
      text-align: center;
      color: #fff;
      padding: 1.3rem 1rem;
      background-color: #3d15b0;
      margin-bottom: 0.8rem;
      border-radius: 10px;
}

.hero-sec .search-bar-con {
      width: 60vw;
      position: absolute;
      bottom: -30px;
      border-radius: 10px;
      border-top: #3d15b0 solid;
      background-color: #fff;
      padding: 2rem 1rem;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.hero-sec .search-bar-con .search-bar {
      width: 80%;
      height: 40px;
      padding: 10px;
      font-size: 20px;
      border: none;
}

.hero-sec .search-bar-con .search-bar:focus {
      outline: none;
}

.search-bar-con .input-con {
      border: 2px solid;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0.6rem;
      padding: 0 10px;
}

.search-bar-con .input-con i {
      cursor: pointer;
      padding: 0.7rem;
}

@media only screen and (max-width: 923px) {
      .hero-sec h2 {
            font-size: 1.8rem;
            color: #fff;
            padding: 1.3rem 1rem;
            background-color: #3d15b0
      }

      .hero-sec .search-bar-con {
            width: 90vw;
      }
}

@media only screen and (max-width: 768px) {
      .hero-sec h2 {
            font-size: 1.8rem;
            color: #fff;
            padding: 1.3rem 1rem;
            background-color: #3d15b0
      }

      .hero-sec .search-bar-con {
            width: 90vw;
      }
}

@media only screen and (max-width: 768px) {
      .hero-sec h2 {
            font-size: 1.4rem;
            color: #fff;
            padding: 1.3rem 1rem;
            background-color: #3d15b0
      }

      .hero-sec .search-bar-con {
            width: 90vw;
      }
}

/* HEROSEC END */


/* ASK EXPERT */
.ask-expert-con {
      width: 90vw;
      justify-content: center;
      align-items: center;
      font-size: 1.3rem;
      padding: 0.8rem 0.4rem;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.ask-expert-con .subject-select::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5;
}

.ask-expert-con .subject-select::-webkit-scrollbar {
      width: 6px;
      background-color: #F5F5F5;
}

.ask-expert-con .subject-select::-webkit-scrollbar-thumb {
      background-color: #3d15b0;
}

.ask-expert-con .subject-select {
      width: 100%;
      margin-bottom: 1rem;
      padding: 0.8rem 0.4rem;
      font-size: large;
      border: #3d15b0 2px solid;
}

.ask-expert-con optgroup {
      display: flex;
      flex: 1;
      justify-content: center;
      margin-bottom: 0.3rem;
      padding: 10px;
      align-items: center;
}

.ask-expert-con .subject-select:focus {
      outline: 2px solid;
      border: none;
}

.editor {
      width: 100vw;
}

.add-file {
      background-color: #3d15b0;
      color: #fff;
}

.ask-btn {
      width: 40%;
      padding: 6px;
      background-color: #3d15b0;
      color: #fff;
      margin-top: 1rem;
      border-radius: 4px;
      border: none;
}

/* ASK EXPERT END */

/* FEATURES */
.features-con {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 3rem;
      margin-top: 3rem;
}

.features-con .card {
      display: flex;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      padding: 1rem 0.8rem;
      width: 30rem;
      height: 15rem;
      margin: 0 2rem;
      font-size: 1.0rem;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.card {
      transition: transform 0.3s;
}

.card a {
      font-size: 0rem;
      color: #fff;
      text-decoration: none;
      opacity: 0;
}

.card:hover {
      transform: translateY(-0.3rem);
      transition: transform 0.3s;
}

.card:hover a {
      transform: translateY(-60%);
      transition: 0.4s;
      opacity: 1;
      font-size: 2.0rem;
}

.features-con .card .img__con {
      width: 10rem;
}

.features-con .card img {
      width: 100%;
      margin-bottom: 1rem;
}

@media only screen and (max-width: 800px) {
      .features-con {
            grid-template-columns: 2fr 2fr;
            display: grid;
            gap: 2rem;
      }

      .features-con .card h4 {
            margin-top: 1em;
      }

      .features-con .card {
            margin: 0;
      }


      .features-con .card img {
            margin: 0 0 0 0;
      }
}

@media only screen and (max-width: 321px) {
      .features-con {
            display: flex;
            flex-direction: column;
      }

      .features-con .card {}

}

@media only screen and (max-width: 1100px) {

      .features-con .card {
            margin-bottom: 1rem;
            width: 20rem;
      }

}

@media only screen and (max-width: 723px) {

      .features-con .card {
            margin-bottom: 1rem;
            width: 15rem;
      }

}

@media only screen and (max-width: 550px) {

      .features-con {
            grid-template-columns: repeat(1, 1fr);
      }

      .features-con .card {
            margin-bottom: 1rem;
            width: 25rem;
      }

}

@media only screen and (max-width: 430px) {

      .features-con {
            grid-template-columns: repeat(1, 1fr);
      }

      .features-con .card {
            margin-bottom: 1rem;
            width: 15rem;
      }

}

/* FEATURES END */

/* SECTIONS */
.sections {
      display: flex;
      margin-top: 3rem;
      justify-content: center;
      align-items: center;
      width: 100vw;
      flex-direction: column;
}

.sections a {
      padding: 6px;
      background-color: #3d15b0;
      color: #fff;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.sections a:hover {
      background-color: #fff;
      color: #3d15b0;
}

.books-library {
      width: 80%;
      display: flex;
      border-radius: 4px;
      gap: 1rem;
      font-size: 1.2rem;
      height: auto;
      align-items: center;
}

.books-library a {
      margin-top: 10px;
}

.books-library img {
      width: 60%;
      min-width: 320px;
      object-fit: cover;
      height: 20rem;
      border-radius: 3px;
      transition: 0.2s;
      margin-right: 2rem;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.books-library img:hover {
      transition: 0.2s;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 750px) {
      .books-library {
            flex-direction: column;
            align-items: center;
      }

}

.problems-fix {
      width: 80%;
      border-radius: 4px;
      display: flex;
      gap: 1rem;
      font-size: 1.2rem;
      height: auto;
      margin-top: 3rem;
      flex-direction: row-reverse;
      align-items: center;
}

.problems-fix img {
      width: 60%;
      min-width: 320px;
      margin-left: 2rem;
      object-fit: cover;
      height: 20rem;
      border-radius: 3px;
      transition: 0.2s;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.problems-fix img:hover {
      transition: 0.2s;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 750px) {
      .problems-fix {
            flex-direction: column;
            align-items: center;
            justify-content: center;
      }

      .books-library {
            flex-direction: column;
            align-items: center;
            justify-content: center;
      }

      .books-library img {
            margin: 0 0 0 0;
      }

      .problems-fix img {
            margin: 0 0 0 0;
      }
}


.future-wait {
      width: 80%;
      border-radius: 4px;
      display: flex;
      gap: 1rem;
      font-size: 1.2rem;
      height: auto;
      overflow: hidden;
      padding-bottom: 4px;
      margin-top: 3rem;
      flex-direction: row;
      align-items: center;
}

.future-wait img {
      width: 60%;
      min-width: 320px;
      margin-left: 2rem;
      object-fit: cover;
      height: 20rem;
      overflow: hidden;
      border-radius: 3px;
      transition: 0.2s;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.future-wait img:hover {
      transition: 0.2s;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 750px) {
      .future-wait {
            flex-direction: column;
            align-items: center;
            justify-content: center;
      }

      .future-wait img {
            margin: 0 0 0 0;
      }
}

/* SECTIONS END */

/* FOOTER */
footer {
      display: flex;
      width: 100vw;
      height: 30vh;
      background-color: #3d15b0;
      padding: 2rem 10rem;
      color: #fff;
      justify-content: space-between;
      font-size: 1.2rem;
}

footer .con {
      width: 100%;
}

footer .footer-links {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 0.7rem;
      font-size: 1rem;
}

footer .footer-links a {
      color: #F5F5F5;
      padding: 3px;
      text-transform: uppercase;
}

footer .footer-links a:hover {
      background-color: #F5F5F5;
      color: rgb(0, 0, 0);
      padding: 3px;
}

@media only screen and (max-width: 750px) {
      footer {
            height: fit-content;
            flex-direction: column;
            align-items: center;
            justify-content: center;
      }

      footer .footer-links {
            margin: 1rem 0 0 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
      }
}

@media only screen and (max-width: 650px) {
      footer .con {
            font-size: 0.9rem;
      }
}


footer .social__links {
      display: flex;
      margin-top: 1rem;
      flex: 1;
}

footer .social__links ul {
      display: flex;
      flex: 1;
      list-style: none;
      gap: 0.5rem;
}

footer .social__links ul a {
      color: #fff;
}
