* {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
}

*::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #3d15b0;
}

*::-webkit-scrollbar {
      width: 6px;
      background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
      background-color: #3d15b0;
}

/* background-color: rgb(0, 118, 222); */

@import '@splidejs/splide/css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
      background-color: rgba(255, 255, 255, 0.884);
      font-family: 'Montserrat', sans-serif;
      overflow-x: hidden;
      font-size: 10px;
}

.container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      overflow: hidden;
      overflow-x: hidden;
}

/* NAV BAR */
header {
      width: 100vw;
      z-index: 1000;
}

nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.99rem;
      padding: 1.8rem 1.3rem 1.8rem 1rem;
}

nav .nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
}

nav .nav-links li {
      margin-left: 1.5rem;
      text-transform: uppercase;
}

nav .nav-links li a {
      text-decoration: none;
      font-weight: 600;
      transition: 0.3s;
      padding: 0.3rem 0.3rem;
      color: rgba(0, 0, 0, 0.891);
}

nav .nav-links li a:hover {
      background-color: #3d15b0;
      transition: 0.4s;
      color: #FFF;
      border-radius: 6px;
}

nav .nav-links li .login-btn {
      background-color: #3d15b0;
      color: #fff;
}

nav .nav-links li .signup-btn {
      background-color: #3d15b0;
      color: #fff;
}

nav .hamburger {
      display: none;
}

nav .hamburger .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: rgba(0, 0, 0, 0.781);
}

@media only screen and (max-width: 768px) {
      nav .space {
            display: none;
      }

      nav .nav-links {
            position: fixed;
            top: -100%;
            border-radius: 0 0 1rem 1rem;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.75);
            width: 100%;
            left: 0;
            transition: 0.3s ease-in-out;
            z-index: 1000;
      }

      nav .nav-links.active {
            top: 5rem;
            transition: 0.3s ease-in-out;
            color: #fff;
      }

      nav ul li {
            margin: 1.2rem 0;
            transition: 0.3 ease-in-out;
            color: #fff;
      }

      nav .nav-links li a {
            color: #fff;
      }

      nav .hamburger {
            display: block;
            cursor: pointer;
      }

      .hamburger.active .bar:nth-child(2) {
            opacity: 0%;
      }

      .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
      }

      .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
      }
}

/* NAV BAR END */



.head__con {
      font-size: 1rem;
}

.date__picker {
      margin: 1rem 0 2rem 0;
      display: flex;
      gap: 10px;
      font-size: 0.9rem;
      justify-content: flex-start;
      align-items: center;
}

[type="date"] {
      background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
      display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
      opacity: 0;
}


#startDate {
      border: 1px solid #c4c4c4;
      border-radius: 5px;
      background-color: #fff;
      padding: 3px 5px;
      box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
      width: 190px;
}

#endDate {
      border: 1px solid #c4c4c4;
      border-radius: 5px;
      background-color: #fff;
      padding: 3px 5px;
      box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
      width: 190px;
}

#startDate,
#endDate:focus {
      outline: none;
      box-shadow: #3d15b0 0 0 1px 1px;
      transition: 0.3s all ease;
}

.form__con {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.2rem;
      justify-content: center;
}

.form__con .input__fields {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      flex-direction: column;
      flex: 1;
}

.form__con .input__fields .input__field {
      display: flex;
      flex-direction: column;
}

.form__con .input__fields .input__field input {
      width: 18rem;
      border-radius: 0.4rem;
      font-size: 1rem;
      border: none;
      border-bottom: 1px solid;
      padding: 0.3rem 0.2rem;
}

.form__con .input__fields .input__field input:focus {
      transition: 0.3s all ease;
      box-shadow: #3c15b0b0 0 1px 2px;
      border: none;
      border-bottom: none;
      outline: none;
}

.form__con .input__fields .input__field #product-description {
      height: 5rem;
      text-align: start;
}

.drop-container {
      position: relative;
      display: flex;
      gap: 10px;
      margin: 2rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 200px;
      padding: 20px;
      border-radius: 10px;
      border: 2px dashed #555;
      color: #444;
      cursor: pointer;
      transition: background .2s ease-in-out, border .2s ease-in-out;
}

.upload__btn {
      padding: 0.4rem 2rem;
      cursor: pointer;
      font-size: 1rem;
      background-color: #3d15b0;
      outline: none;
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
      color: #fff;
      border: none;
      width: 100%;
      border-radius: 0.8rem;
}

.upload__btn:hover {
      transition: all ease background-color 0.3s;
      background-color: rgba(255, 255, 255, 0.994);
      color: #000;
}

.upload__btn:focus {
      outline: none;
      border: none;
}

.drop-container:hover {
      background: #eee;
      border-color: #111;
}

.drop-container:hover .drop-title {
      color: #222;
}

.drop-title {
      color: #444;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      transition: color .2s ease-in-out;
}

input[type=file] {
      width: 350px;
      max-width: 100%;
      color: #444;
      padding: 5px;
      background: #fff;
      border-radius: 5px;
      border: 1px solid #555;
}

input[type=file]::file-selector-button {
      margin-right: 20px;
      border: none;
      background: #3d15b0;
      padding: 10px 20px;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
      background: #fff;
      color: #111;
      box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
}



/* FOOTER */
footer {
      display: flex;
      width: 100vw;
      height: 30vh;
      background-color: #3d15b0;
      padding: 2rem 10rem;
      color: #fff;
      justify-content: space-between;
      font-size: 1.2rem;
}

footer .con {
      width: 100%;
}

footer .footer-links {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 0.7rem;
      font-size: 1rem;
}

footer .footer-links a {
      color: #F5F5F5;
      padding: 3px;
      text-transform: uppercase;
}

footer .footer-links a:hover {
      background-color: #F5F5F5;
      color: rgb(0, 0, 0);
      padding: 3px;
}

@media only screen and (max-width: 750px) {
      footer {
            height: fit-content;
            flex-direction: column;
            align-items: center;
            justify-content: center;
      }

      footer .footer-links {
            margin: 1rem 0 0 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
      }
}

@media only screen and (max-width: 650px) {
      footer .con {
            font-size: 0.9rem;
      }
}


footer .social__links {
      display: flex;
      margin-top: 1rem;
      flex: 1;
}

footer .social__links ul {
      display: flex;
      flex: 1;
      list-style: none;
      gap: 0.5rem;
}

footer .social__links ul a {
      color: #fff;
}