* {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
}

*::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5;
}

*::-webkit-scrollbar {
      width: 6px;
      background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
      background-color: #3d15b0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
      background-color: rgba(255, 255, 255, 0.884);
      font-family: 'Montserrat', sans-serif;
      overflow-x: hidden;
      font-size: 10px;
}

.container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      overflow-x: hidden;
}


.wrapper {
      display: grid;
      width: 100%;
      align-self: center;
      padding: 1rem;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
}

.wrapper .wrapper__img {
      background-image: url('../images/graduation-7287004.jpg');
      height: 95vh;
      position: relative;
      width: 56vw;
      border-radius: 1rem;
      object-fit: cover;
      background-size: cover;
      background-position: center;
}

.wrapper .wrapper__img a {
      color: #fff;
      background-color: #3d15b0;
      padding: 10px 15px;
      border-radius: 18px;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1rem;
      text-decoration: none;
      margin: 16px;
}


.wrapper .sign__wrapper .con__head {
      display: flex;
      font-size: 1rem;
      justify-content: flex-start;
      width: 100%;
}


.wrapper .sign__wrapper {
      display: flex;
      padding: 2.3rem;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
}


.sign__wrapper .signup-detailes {
      display: flex;
      margin-bottom: 40%;
      font-size: 1rem;
      line-height: 35px;
      flex-direction: column;
}

.sign__wrapper .signup-detailes form {
      display: flex;
      margin-top: 2rem;
      flex-direction: column;

}

.sign__wrapper .signup-detailes form input {
      width: 25rem;
      height: 2.5rem;
      border-radius: 18px;
      position: relative;
      font-size: 1rem;
      border: none;
      margin-bottom: 1rem;
}


.login {
      display: none;
}

.sign__wrapper .signup-detailes form input::before {
      content: "";
      width: 100%;
      height: 3px;
      background-color: #3d15b0;
      position: absolute;
      top: 0;
}

.sign__wrapper .signup-detailes form input:focus {
      outline: none;
}

.submit-btn {
      background-color: #3d15b0;
      color: #F5F5F5;
      font-family: 'Montserrat', sans-serif;
      cursor: pointer;
}

@media only screen and (max-width: 1366px) {
      .wrapper .wrapper__img {
            background-image: url('../images/graduation-7287004.jpg');
            width: 45vw;
      }
}

@media only screen and (max-width: 929px) {
      .wrapper .wrapper__img {
            background-image: url('../images/graduation-7287004.jpg');
            width: 40vw;
      }
}

@media only screen and (max-width: 890px) {

      .login {
            display: block;
      }

      .wrapper .wrapper__img {
            background-image: url('../images/graduation-7287004.jpg');
            width: 40vw;
            display: none;
      }
      
.wrapper {
      display: flex;
      width: 100%;
      align-self: center;
      padding: 1rem;
      justify-content: center;
      align-items: center;
}

}

@media only screen and (max-width: 425px) {
      .wrapper .wrapper__img {
            display: none;
      }
      
      .sign__wrapper .signup-detailes form input {
            width: 10rem;
      }

}
