* {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
}

*::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #d0ced6;
}

 *::-webkit-scrollbar {
       width: 18px;
      background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
      background-color: #470aca;
      height:0.10px
}

/* background-color: rgb(0, 118, 222); */

@import '@splidejs/splide/css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
      background-color: rgba(255, 255, 255, 0.884);
      font-family: 'Montserrat', sans-serif;
      overflow-x: hidden;
      font-size: 10px;
}

.container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      overflow: hidden;
      overflow-x: hidden;
}

/* NAV BAR */
header {
      width: 100vw;
      z-index: 1000;
}

nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.99rem;
      padding: 1.8rem 1.3rem 1.8rem 1rem;
}

nav .nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
}

nav .nav-links li {
      margin-left: 1.5rem;
      text-transform: uppercase;
}

nav .nav-links li a {
      text-decoration: none;
      font-weight: 600;
      transition: 0.3s;
      padding: 0.3rem 0.3rem;
      color: rgba(0, 0, 0, 0.891);
}

nav .nav-links li a:hover {
      background-color: #3d15b0;
      transition: 0.4s;
      color: #FFF;
      border-radius: 6px;
}

nav .nav-links li .login-btn {
      background-color: #3d15b0;
      color: #fff;
}

nav .nav-links li .signup-btn {
      background-color: #3d15b0;
      color: #fff;
}

nav .hamburger {
      display: none;
}

nav .hamburger .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: rgba(0, 0, 0, 0.781);
}

@media only screen and (max-width: 768px) {
      nav .space {
            display: none;
      }

      nav .nav-links {
            position: fixed;
            top: -100%;
            border-radius: 0 0 1rem 1rem;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.75);
            width: 100%;
            left: 0;
            transition: 0.3s ease-in-out;
            z-index: 1000;
      }

      nav .nav-links.active {
            top: 5rem;
            transition: 0.3s ease-in-out;
            color: #fff;
      }

      nav ul li {
            margin: 1.2rem 0;
            transition: 0.3 ease-in-out;
            color: #fff;
      }

      nav .nav-links li a {
            color: #fff;
      }

      nav .hamburger {
            display: block;
            cursor: pointer;
      }

      .hamburger.active .bar:nth-child(2) {
            opacity: 0%;
      }

      .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
      }

      .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
      }
}

/* NAV BAR END */


/* Slider Js */

.splide {
      width: 80%;
      margin-top: 3rem;
      max-height: 30rem;
      border-radius: 15px;
      font-size: .75rem;
}

.splide__list {
      border-radius: 15px;
}

.splide__track {
      margin-top: 0.8rem;
      border-radius: 15px;
}

.splide__slide {
      border-radius: 15px;
      display: flex;
      justify-content: center;
}

.splide .splide__slide img {
      object-fit: cover;
      height: auto;
      border-radius: 15px;
      width: 100%;
}


.trendy__products__con {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 6rem;
      align-items: center;
      position: relative;
}

.trendy__products__con::before {
      content: " ";
      z-index: -1020;
      position: absolute;
      top: 0;
      -webkit-filter: blur(250px);
      width: 50%;
      height: 30%;
      border-radius: 10rem 10rem 0 0;
      background-color: #3c15b08b;
      right: 0;
}

body::before {
      content: " ";
      z-index: -1020;
      position: absolute;
      top: 0;
      -webkit-filter: blur(250px);
      width: 50%;
      height: 30%;
      border-radius: 10rem 10rem 0 0;
      background-color: #3c15b079;
      left: 0;
}

.trendy__products__con .con__head {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      line-height: 30px;
}

.trendy__products__con .con__head p {
      font-weight: 500;
}

.trendy__products__con .cards__container {
      grid-column: 2;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 2rem;
      width: 100%;
      margin-top: 2rem;
      padding: 5px;
}

.trendy__card {
      height: 20rem;
      background-color: #F5F5F5;
      margin: 6px;
      padding: 15px;
      box-shadow: 0 0 1px, 0 2px 20px 0px rgba(0, 0, 0, 0.2);
      border-radius: 0.25rem;
      transition: all ease 0.3s box-shadow;
}

.trendy__card .product__price {
      font-size: 1.2rem;
      margin: 6px 0;
}

.add__btn {
      padding: 6px 0;
      margin-top: 6px;
      cursor: pointer;
      background-color: #3d15b0;
      color: #fff;
      transition: all ease 0.2s;
      border: none;
}

.add__btn:hover {
      background-color: white;
      color: #3d15b0;
      border: 1px solid rgba(0, 0, 0, 0.2);
}

.trendy__card:hover {
      box-shadow: 0 0 1px, 0 6px 20px 0px rgba(0, 0, 0, 0.2);
      transition: all ease 0.3s;
}

.trendy__card .card__detailes {
      display: flex;
      font-size: 0.64rem;
      flex: 1;
      flex-direction: column;
}

.trendy__card .card__detailes a {
      color: #3d15b0;
}

.trendy__card .card__detailes span {
      border-radius: 10px;
      padding: 4px 8px;
      margin: 9px 0;
      border: 1px solid rgba(0, 0, 0, 0.2);
      background-color: rgb(232, 232, 232);
      width: 60px;
}

.stars__con {
      width: 50%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
}

.stars__con img {
      width: 100%;
      object-fit: cover;
}

.trendy__card .card__detailes span:hover {
      background-color: rgb(221, 221, 221);
}

.trendy__card .img__con {
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
}

.trendy__card .img__con img {
      width: 100%;
      object-fit: cover;
}



/* ALL PRODUCTS CUSTMIZE */
.all__products__con {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 6rem;
      align-items: center;
      position: relative;
}

.all__products__con::before {
      content: " ";
      z-index: -1020;
      position: absolute;
      top: 0;
      -webkit-filter: blur(250px);
      width: 50%;
      height: 30%;
      border-radius: 10rem 10rem 0 0;
      background-color: #3c15b08b;
      right: 0;
}

body::before {
      content: " ";
      z-index: -1020;
      position: absolute;
      top: 0;
      -webkit-filter: blur(250px);
      width: 50%;
      height: 30%;
      border-radius: 10rem 10rem 0 0;
      background-color: #3c15b079;
      left: 0;
}

.all__products__con .con__head {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      line-height: 30px;
}

.all__products__con .con__head p {
      font-weight: 500;
}

.all__products__con .cards__container {
      grid-column: 2;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 2rem;
      width: 100%;
      margin-top: 2rem;
      padding: 5px;
}

.all__card {
      height: 20rem;
      background-color: #F5F5F5;
      margin: 6px;
      padding: 15px;
      box-shadow: 0 0 1px, 0 2px 20px 0px rgba(0, 0, 0, 0.2);
      border-radius: 0.25rem;
      transition: all ease 0.3s box-shadow;
}

.all__card .product__price {
      font-size: 1.2rem;
      margin: 6px 0;
}

.add__btn {
      padding: 6px 0;
      margin-top: 6px;
      border-radius: 0.4rem;
      cursor: pointer;
      background-color: #3d15b0;
      color: #fff;
      transition: all ease 0.2s;
      border: none;
}

.add__btn:hover {
      background-color: white;
      color: #3d15b0;
      border: 1px solid rgba(0, 0, 0, 0.2);
}

.all__card:hover {
      box-shadow: 0 0 1px, 0 6px 20px 0px rgba(0, 0, 0, 0.2);
      transition: all ease 0.3s;
}

.all__card .card__detailes {
      display: flex;
      font-size: 0.64rem;
      flex: 1;
      flex-direction: column;
}

.all__card .card__detailes a {
      color: #3d15b0;
}

.all__card .card__detailes span {
      border-radius: 10px;
      padding: 4px 8px;
      margin: 9px 0;
      border: 1px solid rgba(0, 0, 0, 0.2);
      background-color: rgb(232, 232, 232);
      width: 60px;
}

.stars__con {
      width: 50%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
}

.stars__con img {
      width: 100%;
      object-fit: cover;
}

.all__card .card__detailes span:hover {
      background-color: rgb(221, 221, 221);
}

.all__card .img__con {
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
}

.all__card .img__con img {
      width: 100%;
      object-fit: cover;
}


.catogeries {
      display: flex;
      gap: 6px;
}

.catogeries span {
      display: flex;
      justify-content: center;
      align-items: center;
}

@media only screen and (max-width: 1197px) {
      .trendy__products__con .cards__container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
      }

      .all__products__con .cards__container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
      }
}

@media only screen and (max-width: 937px) {
      .trendy__products__con .cards__container {
            display: grid;
            grid-template-columns: repeat(4, 175px);
      }

      .all__products__con .cards__container {
            display: grid;
            grid-template-columns: repeat(4, 175px);
      }
}

@media only screen and (max-width: 827px) {
      .trendy__products__con .cards__container {
            display: grid;
            grid-template-columns: repeat(4, 150px);
      }

      .all__products__con .cards__container {
            display: grid;
            grid-template-columns: repeat(4, 150px);
      }
}

@media only screen and (max-width: 720px) {
      .trendy__products__con .cards__container {
            display: grid;
            grid-template-columns: repeat(3, 0.85fr);
      }

      .all__products__con .cards__container {
            display: grid;
            grid-template-columns: repeat(3, 0.85fr);
      }
}

@media only screen and (max-width: 598px) {
      .trendy__products__con .cards__container {
            display: grid;
            grid-template-columns: repeat(3, 0.75fr);
      }

      .all__products__con .cards__container {
            display: grid;
            grid-template-columns: repeat(3, 0.75fr);
      }
}

@media only screen and (max-width: 542px) {
      .trendy__products__con .cards__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
      }

      .all__products__con .cards__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
      }
}

@media only screen and (max-width: 455px) {
      .trendy__products__con .cards__container {
            display: grid;
            grid-template-columns: repeat(2, 0.85fr);
      }

      .all__products__con .cards__container {
            display: grid;
            grid-template-columns: repeat(2, 0.85fr);
      }
}

@media only screen and (max-width: 383px) {
      .trendy__products__con .cards__container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
      }

      .all__products__con .cards__container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
      }
}
/* FOOTER */
footer {
      display: flex;
      width: 100vw;
      height: 30vh;
      background-color: #3d15b0;
      padding: 2rem 10rem;
      color: #fff;
      justify-content: space-between;
      font-size: 1.2rem;
}

footer .con {
      width: 100%;
}

footer .footer-links {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 0.7rem;
      font-size: 1rem;
}

footer .footer-links a {
      color: #F5F5F5;
      padding: 3px;
      text-transform: uppercase;
}

footer .footer-links a:hover {
      background-color: #F5F5F5;
      color: rgb(0, 0, 0);
      padding: 3px;
}

@media only screen and (max-width: 750px) {
      footer {
            height: fit-content;
            flex-direction: column;
            align-items: center;
            justify-content: center;
      }

      footer .footer-links {
            margin: 1rem 0 0 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
      }
}

@media only screen and (max-width: 650px) {
      footer .con {
            font-size: 0.9rem;
      }
}


footer .social__links {
      display: flex;
      margin-top: 1rem;
      flex: 1;
}

footer .social__links ul {
      display: flex;
      flex: 1;
      list-style: none;
      gap: 0.5rem;
}

footer .social__links ul a {
      color: #fff;
}

.subject__upload__btn {
      padding: 0.4rem 2rem;
      cursor: pointer;
      font-size: 1rem;
      background-color: #3d15b0;
      outline: none;
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
      color: #fff;
      border: none;
      border-radius: 0.8rem;
}

.subject__upload__btn:hover {
      transition: all ease background-color 0.3s;
      background-color: rgba(255, 255, 255, 0.994);
      color: #000;
}

.subject__upload__btn:focus {
      outline: none;
      border: none;
}

form {
      margin: 1rem;
}
