* {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
}

*::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5;
}

*::-webkit-scrollbar {
      width: 6px;
      background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
      background-color: #3d15b0;
}

/* background-color: rgb(0, 118, 222); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
      background-color: rgba(255, 255, 255, 0.884);
      font-family: 'Montserrat', sans-serif;
      overflow-x: hidden;
      font-size: 10px;
}

.container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      overflow-x: hidden;
}

/* NAV BAR */
header {
      width: 100vw;
      z-index: 1000;
}

nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.99rem;
      padding: 1.8rem 1.3rem 1.8rem 1rem;
}

nav .nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
}

nav .nav-links li {
      margin-left: 1.5rem;
      text-transform: uppercase;
}

nav .nav-links li a {
      text-decoration: none;
      font-weight: 600;
      transition: 0.3s;
      padding: 0.3rem 0.3rem;
      color: rgba(0, 0, 0, 0.891);
}

nav .nav-links li a:hover {
      background-color: #3d15b0;
      transition: 0.4s;
      color: #fff;
      border-radius: 6px;
}

nav .nav-links li .login-btn {
      background-color: #3d15b0;
      color: #fff;
}

nav .nav-links li .signup-btn {
      background-color: #3d15b0;
      color: #fff;
}

nav .hamburger {
      display: none;
}

nav .hamburger .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: rgba(0, 0, 0, 0.781);
}

@media only screen and (max-width: 768px) {
      nav .space {
            display: none;
      }

      nav .nav-links {
            position: fixed;
            top: -100%;
            border-radius: 0 0 1rem 1rem;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.75);
            width: 100%;
            left: 0;
            transition: 0.3s ease-in-out;
            z-index: 1000;
      }

      nav .nav-links.active {
            top: 5rem;
            transition: 0.3s ease-in-out;
            color: #fff;
      }

      nav ul li {
            margin: 1.2rem 0;
            transition: 0.3 ease-in-out;
            color: #fff;
      }

      nav .nav-links li a {
            color: #fff;
      }

      nav .hamburger {
            display: block;
            cursor: pointer;
      }

      .hamburger.active .bar:nth-child(2) {
            opacity: 0%;
      }

      .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
      }

      .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
      }
}

/* NAV BAR END */

.subjects__wrapper {
      font-size: 1rem;
}

.con__head {
      margin: 0;
      padding: 10px;
      font-size: 1rem;
}



.subjects__wrapper {
      padding: 1rem;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

}

.subject__card {
      padding: 1rem;
      border-radius: 0.5rem;
      margin: 15px;
      height: 14rem;
}

.subject__card a {
      color: #fff;
}

@media only screen and (max-width: 800px) {
      .subjects__wrapper {
            grid-template-columns: repeat(2, 1fr);
      }
}

@media only screen and (max-width: 600px) {
      .subjects__wrapper {
            grid-template-columns: repeat(1, 1fr);
      }
}



/* FOOTER */
footer {
      display: flex;
      width: 100vw;
      height: 30vh;
      background-color: #3d15b0;
      padding: 2rem 10rem;
      color: #fff;
      justify-content: space-between;
      font-size: 1.2rem;
}

footer .con {
      width: 100%;
}

footer .footer-links {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 0.7rem;
      font-size: 1rem;
}

footer .footer-links a {
      color: #F5F5F5;
      padding: 3px;
      text-transform: uppercase;
}

footer .footer-links a:hover {
      background-color: #F5F5F5;
      color: rgb(0, 0, 0);
      padding: 3px;
}

@media only screen and (max-width: 750px) {
      footer {
            height: fit-content;
            flex-direction: column;
            align-items: center;
            justify-content: center;
      }

      footer .footer-links {
            margin: 1rem 0 0 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
      }
}

@media only screen and (max-width: 650px) {
      footer .con {
            font-size: 0.9rem;
      }
}

footer .social__links {
      display: flex;
      margin-top: 1rem;
      flex: 1;
}

footer .social__links ul {
      display: flex;
      flex: 1;
      list-style: none;
      gap: 0.5rem;
}

footer .social__links ul a {
      color: #fff;
}

.subject__upload__btn {
      padding: 0.4rem 2rem;
      cursor: pointer;
      font-size: 1rem;
      background-color: #3d15b0;
      outline: none;
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
      color: #fff;
      border: none;
      border-radius: 0.8rem;
}

.subject__upload__btn:hover {
      transition: all ease background-color 0.3s;
      background-color: rgba(255, 255, 255, 0.994);
      color: #000;
}

.subject__upload__btn:focus {
      outline: none;
      border: none;
}

form {
      margin: 1rem;
}