* {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
}

*::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5;
}

*::-webkit-scrollbar {
      width: 6px;
      background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
      background-color: #3d15b0;
}

/* background-color: rgb(0, 118, 222); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
      background-color: rgba(255, 255, 255, 0.884);
      font-family: 'Montserrat', sans-serif;
      overflow-x: hidden;
      font-size: 10px;
}

.container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      overflow-x: hidden;
}

/* NAV BAR */
header {
      width: 100vw;
      z-index: 1000;
}

nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.99rem;
      padding: 1.8rem 1.3rem 1.8rem 1rem;
}

nav .nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
}

nav .nav-links li {
      margin-left: 1.5rem;
      text-transform: uppercase;
}

nav .nav-links li a {
      text-decoration: none;
      font-weight: 600;
      transition: 0.3s;
      padding: 0.3rem 0.3rem;
      color: rgba(0, 0, 0, 0.891);
}

nav .nav-links li a:hover {
      background-color: #3d15b0;
      transition: 0.4s;
      color: #fff;
      border-radius: 6px;
}

nav .nav-links li .login-btn {
      background-color: #3d15b0;
      color: #fff;
}

nav .nav-links li .signup-btn {
      background-color: #3d15b0;
      color: #fff;
}

nav .hamburger {
      display: none;
}

nav .hamburger .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: rgba(0, 0, 0, 0.781);
}

@media only screen and (max-width: 768px) {
      nav .space {
            display: none;
      }

      nav .nav-links {
            position: fixed;
            top: -100%;
            border-radius: 0 0 1rem 1rem;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.75);
            width: 100%;
            left: 0;
            transition: 0.3s ease-in-out;
            z-index: 1000;
      }

      nav .nav-links.active {
            top: 5rem;
            transition: 0.3s ease-in-out;
            color: #fff;
      }

      nav ul li {
            margin: 1.2rem 0;
            transition: 0.3 ease-in-out;
            color: #fff;
      }

      nav .nav-links li a {
            color: #fff;
      }

      nav .hamburger {
            display: block;
            cursor: pointer;
      }

      .hamburger.active .bar:nth-child(2) {
            opacity: 0%;
      }

      .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
      }

      .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
      }
}

/* NAV BAR END */

.container .con__head {
      display: flex;
      font-size: 1.1rem;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 2rem;
}

.container .con__head h2 {
      display: flex;
      justify-content: center;
      align-items: center;
}
 .vid{

      margin-right: 12px;

}
.container .con__head img {
      width: 60px;
      margin-right: 12px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
}

.line {
      width: 85vw;
      margin-top: 10px;
      margin-bottom: 10px;
      max-width: 800px;
      height: 1px;
      background-color: #333;
}

.videos__section {
      display: flex;
      margin-bottom: 5rem;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
}

.con__head__video__section {
      font-size: 1rem;
      margin-bottom: 0.85rem;
}

.con__head__video__section i {
      color: firebrick;
}

.lock {
      position: absolute;
      font-size: 3rem;
      text-align: center;
      margin: 0 0 0 0;
      top: 3.6rem;
      align-self: center;
      width: 100%;
      height: 100%;
      border-radius: 6px;
}

[video-fees="pay"] .lock {
      display: block;
}

.videos__wrapper {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(5, 1fr);
      padding: 1rem;
      gap: 1.5rem;
}

.videos__wrapper .video__card {
      position: relative;
      width: 18.4rem;
      cursor: pointer;
      flex-shrink: 0;
}

.videos__wrapper .video__card .video__title {
      font-size: 0.8rem;
      margin-top: 3px;
}

.videos__wrapper .video__card .img__con {
      width: 100%;
}

.videos__wrapper .video__card .img__con img {
      width: 100%;
      border-radius: 6px;
      object-fit: cover;
      aspect-ratio: 16 / 9;
}

@media only screen and (max-width: 1650px) {
      .videos__wrapper {
            grid-template-columns: repeat(4, 1fr);
      }
}

@media only screen and (max-width: 1325px) {
      .videos__wrapper {
            grid-template-columns: repeat(4, 1fr);
      }

      .videos__wrapper .video__card {
            width: 17rem;
            cursor: pointer;
            flex-shrink: 0;
      }
}

@media only screen and (max-width: 1211px) {
      .videos__wrapper {
            grid-template-columns: repeat(4, 1fr);
      }

      .videos__wrapper .video__card {
            width: 16rem;
            cursor: pointer;
            flex-shrink: 0;
      }
}

@media only screen and (max-width: 1151px) {
      .videos__wrapper {
            grid-template-columns: repeat(4, 1fr);
      }

      .videos__wrapper .video__card {
            width: 14rem;
            cursor: pointer;
            flex-shrink: 0;
      }
}

@media only screen and (max-width: 1010px) {
      .videos__wrapper {
            grid-template-columns: repeat(3, 1fr);
      }

      .videos__wrapper .video__card {
            width: 17rem;
            cursor: pointer;
            flex-shrink: 0;
      }
}

@media only screen and (max-width: 911px) {
      .videos__wrapper {
            grid-template-columns: repeat(3, 1fr);
      }

      .videos__wrapper .video__card {
            width: 15rem;
            cursor: pointer;
            flex-shrink: 0;
      }
}

@media only screen and (max-width: 812px) {
      .videos__wrapper {
            grid-template-columns: repeat(3, 1fr);
      }

      .videos__wrapper .video__card {
            width: 13.5rem;
            cursor: pointer;
            flex-shrink: 0;
      }
}

@media only screen and (max-width: 750px) {
      .videos__wrapper {
            grid-template-columns: repeat(2, 1fr);
      }

      .videos__wrapper .video__card {
            width: 18rem;
            cursor: pointer;
            flex-shrink: 0;
      }
}

@media only screen and (max-width: 650px) {
      .videos__wrapper {
            grid-template-columns: repeat(2, 1fr);
      }

      .videos__wrapper .video__card {
            width: 15rem;
            cursor: pointer;
            flex-shrink: 0;
      }
}

@media only screen and (max-width: 550px) {
      .videos__wrapper {
            grid-template-columns: repeat(2, 1fr);
      }

      .videos__wrapper .video__card {
            width: 12rem;
            cursor: pointer;
            flex-shrink: 0;
      }
}

@media only screen and (max-width: 470px) {
      .videos__wrapper {
            grid-template-columns: repeat(1, 1fr);
      }

      .videos__wrapper .video__card {
            width: 20rem;
            cursor: pointer;
            flex-shrink: 0;
      }
}

@media only screen and (max-width: 380px) {
      .videos__wrapper {
            grid-template-columns: repeat(1, 1fr);
      }

      .videos__wrapper .video__card {
            width: 17rem;
            cursor: pointer;
            flex-shrink: 0;
      }
}


/* Textbooks */


.textbooks__section {
      display: flex;
      margin-bottom: 5rem;
      width: 100%;
      padding: 0 0 0 2rem;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
}

.con__head__textbooks__section {
      font-size: 1rem;
      margin-top: 2rem;
}

.textbooks__wrapper {
      margin-top: 2rem;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
}

.textbook__card {
      margin-bottom: 1rem;
      width: 45rem;
      height: 8rem;
      align-items: center;
      box-shadow: 0 2px 10px rgba(51, 51, 51, 0.25);
      font-size: 1rem;
      display: flex;
      border-radius: 12px;
      background-color: rgba(51, 51, 51, 0.12);
}

.textbook__card .detailes {
      line-height: 60px;
      margin-left: 6px;
}

.textbook__card .detailes a {
      text-decoration: none;
      color: #fff;
      border-radius: 6px;
      padding: 7px 16px;
      background-color: #3d15b0;
}

.textbook__card .detailes a:hover {
      text-decoration: underline;
}

.textbook__card .img__con {
      width: 30%;
      margin-right: 12px;
      height: 100%;
}

.textbook__card .img__con img {
      width: 100%;
      border-radius: 12px;
      height: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
}

@media only screen and (max-width: 790px) {


      .textbooks__wrapper {
            justify-content: center;
            align-items: center;
      }

      .textbook__card {
            width: 40rem;
      }
}

@media only screen and (max-width: 700px) {


      .textbooks__wrapper {
            justify-content: center;
            align-items: center;
      }

      .textbook__card {
            width: 35rem;
      }
}

@media only screen and (max-width: 625px) {


      .textbooks__wrapper {
            justify-content: center;
            align-items: center;
      }

      .textbook__card {
            width: 30rem;
      }
}

@media only screen and (max-width: 540px) {


      .textbooks__wrapper {
            justify-content: center;
            align-items: center;
      }

      .textbook__card {
            font-size: 0.8rem;
            width: 23rem;
      }

      .textbook__card .detailes {
            line-height: 30px;
      }
}

@media only screen and (max-width: 430px) {

      .con__head__textbooks__section {
            font-size: 0.75rem;
      }

      .textbooks__wrapper {
            justify-content: center;
            align-items: center;
      }

      .textbook__card {
            font-size: 0.7rem;
            width: 19rem;
            height: 7rem;
      }

      .textbook__card .detailes {
            line-height: 30px;
      }
}

@media only screen and (max-width: 355px) {


      .textbooks__wrapper {
            justify-content: center;
            align-items: center;
      }

      .textbook__card {
            font-size: 0.6rem;
            width: 18rem;
            height: 7rem;
      }

      .textbook__card .detailes {
            line-height: 50px;
      }
}

@media only screen and (max-width: 330px) {


      .textbooks__wrapper {
            justify-content: center;
            align-items: center;
      }

      .textbook__card {
            font-size: 0.55rem;
            width: 16rem;
            height: 7rem;
      }

      .textbook__card .detailes {
            line-height: 35px;
      }
}

/* Premium videos */

.fa-star {
      color: gold;
}

/* FOOTER */
footer {
      display: flex;
      width: 100vw;
      height: 30vh;
      background-color: #ffffff;
      padding: 2rem 10rem;
      color: #fff;
      justify-content: space-between;
      font-size: 1.2rem;
}

footer .con {
      width: 100%;
}

footer .footer-links {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 0.7rem;
      font-size: 1rem;
}

footer .footer-links a {
      color: #F5F5F5;
      padding: 3px;
      text-transform: uppercase;
}

footer .footer-links a:hover {
      background-color: #F5F5F5;
      color: rgb(0, 0, 0);
      padding: 3px;
}

@media only screen and (max-width: 750px) {
      footer {
            height: fit-content;
            flex-direction: column;
            align-items: center;
            justify-content: center;
      }

      footer .footer-links {
            margin: 1rem 0 0 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
      }
}

@media only screen and (max-width: 650px) {
      footer .con {
            font-size: 0.9rem;
      }
}

footer .social__links {
      display: flex;
      margin-top: 1rem;
      flex: 1;
}

footer .social__links ul {
      display: flex;
      flex: 1;
      list-style: none;
      gap: 0.5rem;
}

footer .social__links ul a {
      color: #fff;
}
